//fonts
/*$logo-font: ;
$headlineNavlink-font: ;
$primary-font: ;*/

//sizes
$logo-size          :   22px;
$ul-size            :   1.5rem;
$anchor-size        :   20px;
$anchor-size-mobile :   25px;
$footer-size        :   1em;
$headline-size      :   9em;
$form-size          :   14px;