@import "colors";
@import "typography";

@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/***********************[ Header ]***********************/

header {
  @include box-shadow(0px 2px 14px 0px $shadow-color);
  position: sticky;
  top: 0;
  background: white;
  z-index: 9;
  overflow: hidden;
}

/***********************[ Navbar ]***********************/

nav {
  min-height: 10vh;
  margin: auto;
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;

  h1 {
    font-size: $logo-size;
    flex: 1;
    margin: 0 !important;
  }

  ul {
    font-size: $ul-size;
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
  }

  a {
    font-size: $anchor-size;
    text-decoration: none;
    color: #000000;
    &:hover {
      text-decoration: none;
      color: #18c9e0 !important;
    }
  }
}

/***********************[ Navbar Bubble Effect ]***********************/

.bubble {
  position: absolute;
  z-index: -1;
  transform: scale(1.2);
  transition: all 0.5s ease;
  border-radius: 6%;
  margin-top: 2px;
  border: 1px solid #18c9e0;
}

/***********************[ Nav Brand ]***********************/

.logo-text {
  font-family: "Pacifico", cursive;
  color: #18c9e0;
  font-size: 1.8rem;
}

span {
  margin-left: 6px;
}

/***********************[ Cursor ]***********************/
/*
.cursor{
   font-size: 0.5rem;
    position: absolute;
    transform: translate(-100%, 100%);
    z-index: 4;
    pointer-events: none;
}
*/
/***********************[ Avatar Photography ]***********************/

#avatar {
  position: absolute;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  width: 12rem;
  height: auto;
  top: 0%;
  right: 5%;
  z-index: 2;
  @include box-shadow(0px 2px 14px 0px $shadow-color);
}

/***********************[ social links ]***********************/

//linkedin

.linkedin-triangle {
  fill: #fff;
  color: #000;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.linkedin {
  color: black;
  font-weight: bold;
  position: absolute;
  font-size: 2rem;
  top: 2%;
  right: 1%;
  z-index: 2;
  transform: translate(-2%, -1%) rotate(45deg);
}

// github

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  fill: #ffdd00;
  color: black;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.octo-body,
.octo-arm {
  color: black !important;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/***********************[ Sections ]***********************/

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    position: absolute;
    color: $headline-color;
    opacity: 0.05;
  }
}

.home {
  position: relative;
  background: $strevitz-yellow;
  overflow: hidden;
  height: 110vh;
}

.project {
  position: relative;
  background: white;
  overflow: hidden;
  height: 124vh;
}

.contact {
  position: relative;
  background: black;
  overflow: hidden;
}

// hello text

#firsttext {
  width: 80%;
  padding-top: 100px;
}

// contact text

#thirdtext {
  color: white;
}

/***********************[ Quiz Section ]***********************/

.quiz {
  position: relative;
  flex-direction: column;
  text-align: center;
  min-height: 82vh;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h2 {
    position: absolute;
    color: $headline-color;
    z-index: 0;
    opacity: 0.05;
  }
}

body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  z-index: 1;
}

// button & button effects

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 40%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  background-color: hsl(var(--hue), 100%, 10%);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  &:hover {
    color: lightgray !important;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

// quiz footer

.quiz-footer {
  padding: 6rem 0 1rem;
}

.footer-text-box {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0;
}

/***********************[ weather section ]***********************/

.weather-form {
  align-items: center !important;
  z-index: 4 !important;
}

.weather-form input,
.currency-input,
.currency-select {
  padding: 5px 8px !important;
  border-radius: 8px !important;
}

/***********************[ currency section ]***********************/

.currency-select {
  background: #000;
  color: white;
  font-size: 1.2rem;
}

.equals {
  font-size: 2rem;
}

.App {
  justify-content: center;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes myfirst {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***********************[ Headlines ]***********************/

.typing {
  position: absolute;
  top: 20%;
  left: 8%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 3rem;
}

.project-headline {
  position: absolute;
  top: 2%;
  left: 8%;
}

.contact-headline {
  position: absolute;
  top: 2%;
  left: 8%;
  color: white;
}

#headline2,
#headline3 {
  font-size: $headline-size;
  top: 0%;
  left: 2%;
  transform: translate(0%, -2%);
  z-index: 0;
}

#headline1 {
  font-size: 12rem;
  top: 24%;
  left: 27%;
  transform: translate(-50%, -50%);
}

#headline4 {
  font-size: 12rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#headline3 {
  color: white;
  opacity: 0.13;
}

// typography

h3 {
  margin-bottom: 2rem;
}

h4,
h5 {
  font-weight: 200;
  margin: 0.4em 0.4em;
}
h4 {
  font-size: 3em;
}
h5 {
  color: #333333;
  font-size: 1.5em;
}

h6 {
  font-size: 0.8rem;
}

/***********************[ Form ]***********************/

form {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.name-form {
  width: 100%;
  height: 67px;
  position: relative;
  overflow: hidden;
  input {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding-top: 20px;
    border: none;
    outline: none;
  }
  label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid $strevitz-yellow;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  }
}

.name-form input:focus + .label-name .content-name,
.name-form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: $form-size;
  color: $strevitz-yellow;
}

.name-form input:focus + .label-name::after,
.name-form input:valid + .label-name::after {
  transform: translateX(0%);
}

.content-name {
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

button {
  align-self: flex-start;
  width: 100%;
}

.btn-warning {
  background-color: $strevitz-yellow;
  border-radius: 6px !important;
}

/***********************[ Contact links ]***********************/

.contact-item {
  color: $strevitz-yellow;
  text-decoration: none !important;
  display: inline-block;
  position: relative;
  &:hover {
    color: $strevitz-yellow;
    &::after {
      width: 100%;
      left: 0;
    }
  }
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0%;
    position: absolute;
    background: $strevitz-yellow;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
}

.contact-info {
  order: 2;
  color: white;
  line-height: 3rem;
  width: 100%;
  margin-left: 4rem;
  margin-top: 1.5rem;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contact-box {
  margin-top: 24vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***********************[ Portfolio slider ]***********************/

.smiley-img {
  margin: 0%;
  width: 30rem;
  height: auto;
  position: absolute;
  top: 25%;
  left: -10%;
  opacity: 0.1;
}

carousel {
  width: 100%;
  display: block;
  font-weight: 200;

  page {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0 2rem;
    top: 7rem;
    left: 0;
    width: 100%;
    transition: transform 0.5s;
    transform: scale(0);

    // next page button

    label {
      cursor: pointer;
      background: $strevitz-yellow;
      padding: 4px 10px;
      border-radius: 6px;
    }
  }
  @for $i from 1 through 7 {
    #page#{$i}cb:checked ~ {
      #page#{$i} {
        transform: scale(1);
      }
    }
  }
}

.portfolio-description {
  margin-left: 3rem;
}

.portfolio-description a {
  color: #18c9e0;
  text-decoration: none;
}

.portfolio-img img {
  width: 42vw;
  height: auto;
}

.portfolio-text {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.portfolio-header {
  margin-top: 0;
}

/***********************[ Cookies compliance message ]***********************/

#okCookie {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #494949;
  z-index: 10;
}

#okCookie p {
  margin: 0 0 10px 0;
  float: left;
  padding: 5px 0px;
}

#okCookie #okClose,
#okCookie #okCprivacy {
  padding: 4px 10px;
  float: right;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid black;
  color: black;
}

#okCookie #okClose {
  background-color: $strevitz-yellow;
}

#okCookie #okClose:hover {
  background-color: darken($color: $strevitz-yellow, $amount: 10%);
}

#okCookie #okCprivacy {
  background-color: white;
}

#okCookie #okCprivacy:hover {
  background-color: #d4d4d4;
}

.okcBeginAnimate {
  -webkit-animation: myfirst 2s;
  animation: myfirst 2s;
}

/***********************[ Footer ]***********************/

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: $footer-size;
  padding: 30px;
}

/***********************[ Media responsivness ]***********************/

@media screen and (max-width: 768px) {
  #avatar {
    display: none !important;
  }

  .home {
    height: 130vh;
  }

  .typing {
    margin-right: 1rem !important;
    top: 8% !important;
    left: 8%;
  }

  .project {
    height: 145vh;
    text-align: left;
  }

  page {
    margin-top: 1rem;
    flex-direction: column !important;
    text-align: left;
  }

  .portfolio-img {
    text-align: center;
  }

  .portfolio-img img {
    width: 100% !important;
  }

  .portfolio-description {
    margin-left: 0 !important;
  }

  .portfolio-header {
    margin-top: 1rem !important;
  }

  .portfolio-text {
    font-size: 1.3rem !important;
  }

  h4 {
    font-size: 2rem !important;
  }

  #headline1 {
    font-size: $headline-size;
    top: 4%;
    left: 12%;
    transform: translate(0%, -2%);
  }

  .contact-info {
    order: 1;
    margin-left: 0;
    margin-top: 7vh;
    margin-bottom: 5vh;
  }

  .form {
    order: 2;
    margin-bottom: 10vh;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
  }

  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  ul {
    justify-content: center !important;
  }

  .bubble {
    display: none;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
  }

  .nav-links {
    position: fixed;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1350px at 90% -10%);
    pointer-events: all;
    align-items: center;
  }

  .nav-links li {
    opacity: 1;
    padding: 1.5rem 0;
  }

  .nav-links li a {
    font-size: $anchor-size-mobile;
  }

  .weather-form {
    align-items: center !important;
  }
}

:root {
  --hue-neutral: 52;
  --hue-wrong: 340;
  --hue-correct: 162;
}
