body{
    background-image: linear-gradient(  #31302e, #e2be75, #da4a11, #e2be75, #31302e);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

  .parallax {
    text-align: center;
    background-image: url("img/la-street.jpg");
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.branda{
    font-family: 'Mr Dafoe', cursive;
    font-size: 3vw;
    background: -webkit-linear-gradient(#c4aa9e, #2b2420);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 16px;
}

.brandb{
    font-family: 'Western\ Wonderment';
    font-size: 14vw;
    background: -webkit-linear-gradient(transparent, #5e514d, #251f1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 10px;
    transition: ease-in-out 1s;
}


  /* ----------navbar----------- */
/*
  #secondnav{
    margin: 0px 20px;
  }
*/

.bg-brown{
    background-color: #31302e;
}

.bg-gray{
 background-color: #f0efee;
}

.bg-dark{
    background-color: #31302e;
}

.bg-light{
    background-color: #dadada!important;
}


.nav-link{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    transition: ease-in-out 0.2s;
    margin-left: 10px;
}

.nav-link:hover{
    color: #fc8b40!important;
}

.btn-success{
    color: #301808;
    background-color: transparent;
    border: none;
}

.btn-success:hover{
    background-color: #fc8b40;
}

.icon-facebook:hover{
    color: #fc8b40;
}

.icon-instagram:hover{
    color: #fc8b40;
}

  /* ----------sections----------- */


.container{
    max-width: 100%;
    padding: 0;
}

  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
 }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

@font-face{
    font-family: 'Western\ Wonderment';
    src: url("font/Western\ Wonderment.otf");
    src: 
		local('Western\ Bang\ Bang'),
		local('Western\ Bang\ Bang'),
		url('font/Western\ Wonderment.otf');
		format ('opentype');
}